* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 100%;
  margin: 50px auto;
  display: flex;
}

.step-box {
  width: 90%;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.step-box:nth-child(1){
  margin-left: 30px;
}

.step-img1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.step-img2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.step-img3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step-num {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.title {
  margin: 15px 0 5px;
}

footer {
  height: 50px;
  background-color: #aaa;
}

@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    width: 100%;
  }
  .step-box {
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
    width: 90%;
  }
  .step-box:nth-child(1){
    margin-left: 0px;
  }
  .step-box :last-child {
    margin-bottom: 0px;
  }
}
hoge
hoge
hoge
hoge
